@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    font-family: 'Times New Roman', Times, serif;
    
}
*, ::after, ::before {
    box-sizing: border-box;
}
.head-1{
    position:absolute;
    text-align: center;
    width: 100%;
    top: 30%;
    left: 0;
    padding: 0 15px;
    z-index: 11;
}
.font-text{
    font-size: 75px;
    margin-bottom: 0;
}
.subtitle{
    
    color: #353b4d !important;
    font-family: 'Kaushan Script', cursive;
    font-size: 90px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 2px;
    padding-left:  195px;

    
}
.title{
    
        color: #fff !important;
        /* font-family: 'Solitreo', cursive; */
        font-family: 'Courgette', cursive;
        font-size: 45px;       
        text-transform: uppercase;
        line-height: 1.2em;
        letter-spacing: 2px;
       padding-left: 30px;
        bottom: -93px;
        position: relative;
}
.progress-bar {
    background: #302c44 !important;
}
.progress {
    background-color: #ffffff12;
}
.soft{
    color: #d1c968;
    padding: 20px 0 !important;
}
.skills-lang{
        font-family: 'Solitreo', cursive;
    font-weight: 700 !important;
}
.whatsapp:hover{
    color: rgb(11, 240, 11);
    transform: scale(1.6);
	transition: all 0.5s ease-out
}
.insta:hover{
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100% );
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.6);
	transition: all 0.5s ease-out
}
.face:hover{
    color: #6188ea;
    transform: scale(1.6);
	transition: all 0.5s ease-out
}
.linkedin:hover{
    color:  #0A66C2;
    transform: scale(1.6);
	transition: all 0.5s ease-out
}
.git:hover{
    color: black;
    transform: scale(1.6);
	transition: all 0.5s ease-out
}

.mail:hover{
    color:#e54c31;
    transform: scale(1.6);
	transition: all 0.5s ease-out
}
.logo-link{
    color: white;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    content: 'UPLOAD FILE';
    display: inline-block;
    color: white;
    padding: 10px 10px 10px 45px;
    background-color: #0784f2;
  }

  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

.upload{
    position: relative;
    top: 38px;
    right: -6px;
    color: white;
    font-size: 27px;
}

.send{
    color: #ffffff;
    size: 25px;
    position: relative;
    text-align: center;
    display: block;
    top: -65px;
    left: -45px;
    font-size: 30px;
}

textarea{
    resize: none;
    height: 250px;
    outline: none;
    width: 100%;
  
}
.underline{
    
    outline: #242937;
    width: 100%;
    height: 40px;
}
#contact-us{
    /* background: linear-gradient(#0d6efd,#54e166  ); */
    background-color: #242937;

}
.spakales{
   
    background: url(images/spakals.png) 52px 85% repeat-x;
  background-repeat: repeat;
   
}


.get-in-touch{
    font-size: 70px;
    font-weight: 900;
    font-family: 'Lobster', cursive;
}
.light{
    color:#697fa1 !important ;
}

#projects{
    /* background: linear-gradient(#eacda3 ,#d6ae7b) !important; */
    /* background: linear-gradient(#eb3349 , #f45c43) !important; */
    /* background: linear-gradient( #654ea3, #eaafc8) !important; */
    /* background: linear-gradient( #800080, #ffc0cb) !important; */
background-color: #ffff !important;

}
.cards{
    transition: box-shadow ,background-color  1s ;
    
    
}
.cards:hover{

    box-shadow: 6px 6px 25px rgb(17, 17, 17);
    background-color: rgb(255, 222, 73) !important;
}

.btn:hover{
    background-color:  #86a8f1;

}
.btn{
    border-collapse: collapse;
    margin: 15px 0;
}
.project-link{
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    background-color: #5588f7; 
    border: none !important;
    text-align: center;
  
    font-size: 19px;
    border-radius: 5px;
}
.btn:active{
    transform: scale(0.9);
    background-color:#5588f7 !important;
}
#scroll{
    color: red;
    font-size: 40px;
    float: right;
    position: fixed;
    display: block;
    bottom: 40px;
    right: 45px;
    
}
.inverted {
    background-color: #242937;
    box-shadow: 0 3px 5px 0.3px #0000001a;
}
.pro-tex{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;

}
.pro-head{
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
}
#cursor {
    display: inline-block;
    animation: blink 0.7s infinite;
  }
  
  /* CSS for animation */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink {
    from, to { color: transparent }
    100% { color: #ffffff }
  }
@media screen and (max-width: 992px) {
.img-4{
    height: 300px;
}
.head-1{
    position: absolute;
    bottom: 0;
    top: 88px;
} 
 .font-text{
    font-size: 25px;
}
.font-text-1{
    font-size: 20px !important;
}
.title{
    position: static;
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

}
